.container{

width:800px;

margin:auto;

text-align:center;

}

input{

display:block;

width:100%;

margin:10px;

padding:10px;

border:1px solid gray;

border-radius:5px;

}

button{

margin:5px;

padding:10px;

background:#2f80ed;

color:white;

border:none;

cursor:pointer;

border-radius:5px;

}

button:hover{

background:#1366d6;

}

table{

width:100%;

margin-top:20px;

border-collapse:collapse;

}

th{

background:#2f80ed;

color:white;

}

th,td{

border:1px solid black;

padding:10px;

}